
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a img {
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

a img:hover {
    transform: scale(1.05);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-image: url("TH_-_Mosh_Pit_(5370150223).jpg");
    background-color: #2e3b4e;
    color: white;
    padding: 15px 30px;
  
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.nav li {
    margin-right: 20px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header-right button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.header-right button:hover {
    background-color: #2e3b4e;
}


main {
    margin: 20px;
    justify-content: space-between;
}

.sidebar {
    width: 20%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin-bottom: 15px;
    font-size: 18px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}


.main-content {
   margin-left: 20%;
    overflow: hidden;
    padding: 10px;
}


.sorting label {
    margin-right: 10px;
    font-size: 16px;
}

.sorting select {
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.catalog-grid {
    margin-top: 10px;
    width: 100%;
}

.album-card {
    background-color: white;
    width: 30%;
    float: left;
    padding: 10px;
    margin: 0 1.5% 20px 1.5%;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.album-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.5s ease, box-shadow 0.3s ease;

}

.album-card p {
    margin-top: 10px;
    font-size: 16px;
}

/* Footer */
footer {
    background-image: url("TH_-_Mosh_Pit_(5370150223).jpg");
    background-color: #2e3b4e;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

table, td, th{
    border-collapse: collapse;
    border: 2px solid black;
}

td {
    text-align: center;
}

.table-single{
  margin-left: auto;
  margin-right: auto;
}

.cart {
    margin-left: auto;
    margin-right: auto;
}

.cart-header{
    width: 100px;
}
