* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f4f4f4;
}

.header {
    background-image: url("TH_-_Mosh_Pit_(5370150223).jpg");
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    overflow: hidden; /* Clearfix for floated children */
}

.header h1 {
    float: left;
}

.header .nav {
    float: left;
    margin-left: 20px;
}

.header .nav ul {
    list-style: none;
    padding: 0;
}

.header .nav ul li {
    display: inline;
    margin-right: 15px;
}

.header .header-right {
    float: right;
}

.header button {
    background-color: #555;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.header button:hover {
    background-color: #777;
}

.sidebar {
    width: 20%;
    float: left;
    background-color: #ddd;
    padding: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}


.main-content {
    margin-left: 20%;
    overflow: hidden; 
    padding: 10px;
}

.catalog-grid {
    margin-top: 10px;
    width: 100%;
}

.album-card {
    width: 30%; 
    float: left;
    margin: 0 1.5% 20px 1.5%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.album-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.album-card img:hover {
    transform: scale(1.05);
}

.album-card p {
    margin: 5px 0;
}

.album-card button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.album-card button:hover {
    background-color: #005f7a;
}


footer {
    background-image: url("TH_-_Mosh_Pit_(5370150223).jpg");
    background-color: #333;
    color: white;
    text-align: center;
    position: sticky;
    bottom: 0;
    min-width: 100%;
    padding: 1em;
    
}


table, td, th{
    border-collapse: collapse;
    border: 2px solid black;
}

td {
    text-align: center;
}

.table-single{
  margin-left: auto;
  margin-right: auto;
}

.table-single-large{
    margin-left: auto;
  margin-right: auto;
}

.cart {
    margin-left: auto;
    margin-right: auto;
}

.cart-header{
    width: 100px;
}

